#fs-overlay {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5)
}

/* # used for one specific instance */
#header-img {
  height: auto;
  width: 65%;
}

/* . for when you want to apply this styling to multiple elements */
.screen {
  display: flex;
  justify-content: center;
  align-items: center;
}

#myVideo {
  position: fixed;
  height: 100vh;
  width: 100%;
  object-fit: fill;
  z-index: -1;
}

